html {height: 99.0%; margin: 0px; padding: 0px;}
body {height: 100%; margin: 0px; padding: 0px; background-color: #000000;}
#white {position: relative; height: 35%; background-color: #ffffff; color: #000000;}
#blue {position: relative; height: 35%; background-color: #0000ff; color: #ffffff; transition: color 1.2s;}
#time {position: relative; height: 30%; background-color: #000000;}

#white *, #blue *, #time * { z-index: 10;}

#white .name {position: absolute; top: 5%; left: 2%; color: inherit;}
#blue .name {position: absolute; bottom: 5%; left: 2%; color: inherit;}

#white .name * {color: inherit;}
#blue .name * {color: inherit;}

#white .points {position: absolute; bottom: 3%; left: 50%; width: 50%; padding-right: 2%; color: inherit;}
#blue .points {position: absolute; top: 3%; left: 50%; width: 50%; padding-right: 2%; color: inherit;}

.name {font: bold 60px sans-serif; white-space: nowrap; overflow: hidden;}
.name input {background: none; border: none; font: bold 60px sans-serif;}
.points {white-space: nowrap;}
.points th {font: bold 1.5em sans-serif;}
.point {display: inline-block; font: bold 220px sans-serif; width: 170px; margin: 0px 25px; text-align: center; vertical-align: middle; cursor: pointer;}
.shido {display: inline-block; width: 100px; height: 130px; margin: 0px; vertical-align: middle; cursor: pointer;}

#group *, #round * {background: none; border: none; width: 100%; font: bold 60px sans-serif; color: #ffffff;}
#groupround_table {position: absolute; bottom: 15%; left: 3%; width: 45%;}
#groupround_table td {padding-bottom: 20px;}

#fighttime {font: bold 220px sans-serif; width:fit-content;}
#osaetime {position: absolute; top: 50%; right: 5%; height: 1em; margin-top: -0.5em; font: bold 150px sans-serif; text-align: right; white-space: nowrap; color: #8888ff; cursor: pointer;}
#goldenscore {display: none; position: absolute; top: 50%; right: 15%; height: 2em; margin-top: -0.8em; font: bold 100px sans-serif; text-align: center; line-height: 90%; color: #f0c115;}

#spectatorviewbtn {position: absolute; bottom: 35px; left: 8px; font: normal 25px sans-serif; color: #ffffff; cursor: pointer;}
#spectatorviewbtn:hover, .clockcontrol:hover {color: #dd0000;}

#fighttime_container {position: absolute; width: 30%; top: 10%; right: 20%; height: 80%; margin-top: -0.5em; white-space: nowrap; color: #cc0000; cursor: pointer;}

div {-moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; user-select: none;}


#winner {top: 0; left: 0; position: absolute; background: #00000000; z-index: 3;
         transition: height 1.2s, background 1.2s;}